.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
.gitignore  
image     
lib     
node_modules
private
Gruntfile.js
index.html
LICENSE 
package.json
README.md
css  
grunt.js      
js        
plugin        
.travis.yml
